<div class="lists">
    <mat-grid-list class="mat-grid-list" cols="1">
        <h1>{{ optionFirst }}</h1>
        <mat-grid-list class="mat-grid-list" cols="2" gutter="16px" rowHeight="100px">
            <mat-grid-tile role="listitem">
                <div class="left">
                    <div class="card-content card-content-right ">
                        {{ exampleFirst }}   
                    </div>
                </div>  
            </mat-grid-tile>
            <mat-grid-tile role="listitem">
                <div class="right">
                    <div class="card-content card-content-left">
                        {{ exampleFirstCorrected }} 
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-grid-list>
    <mat-grid-list class="mat-grid-list" cols="1">
        <h1>{{ optionSecond }}</h1>
        <mat-grid-list class="mat-grid-list" cols="2" gutter="16px" rowHeight="100px">
            <mat-grid-tile role="listitem">
                <div class="left">
                    <div class="card-content card-content-right">
                        {{ exampleSecond }} 
                    </div>
                </div>  
            </mat-grid-tile>
            <mat-grid-tile role="listitem">
                <div class="right">
                    <div class="card-content card-content-left">
                        {{ exampleSecondCorrected }} 
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-grid-list>
    <mat-grid-list class="mat-grid-list" cols="1">
        <h1>{{ optionThird }}</h1>
        <mat-grid-list class="mat-grid-list" cols="2" gutter="16px" rowHeight="100px">
            <mat-grid-tile role="listitem">
                <div class="left">
                    <div class="card-content card-content-right">
                        {{ exampleThird }} 
                    </div>
                </div>  
            </mat-grid-tile>
            <mat-grid-tile role="listitem">
                <div class="right">
                    <div class="card-content card-content-left">
                        {{ exampleThirdCorrected }} 
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-grid-list>
</div>