<div class="landingpage-main">
    <img src="{{logo}}" alt="image"/>
    <div class="headline">
        <h1>{{ headline }}</h1>
        <h2>{{ subheadline }}</h2>
        <button mat-fab extended color="primary" routerLink="/main"> Beginne jetzt</button>
    </div>
    <mat-grid-list class="cardlist" cols="3" rowHeight="6:2">
        <mat-grid-tile>
            <mat-card class="card">
                <mat-card-content>Simple card</mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="card">
                <mat-card-content>Simple card</mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="card">
                <mat-card-content>Simple card</mat-card-content>
            </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
</div>

