.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.left-right-button{
  bottom: 0;
  margin-left: 15%;
  margin-bottom: 5%;
  position: absolute;
}

.logo{
  margin-top: 5px;
  max-width: auto;
  max-height: 80px;
}

img{
  max-width: 100%;
  max-height: 50px;
}
