.full-width {
  width: 100%;
  height: auto;
  margin: 5px;
}

.shipping-card {
  min-width: 120px;
  min-height: auto;
  margin: 5px 5px 5px 5px;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.main-content{
  min-height: 90vh;
  max-height: 100vh;
}