<form [formGroup]="textForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Geben Sie hier Ihren Text ein</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput formControlName="textField"></textarea>
            <mat-error *ngIf="textForm.controls['textField'].hasError('required')">
              Texteingabe ist <strong>notwendig</strong>.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
<mat-card class="shipping-card">
  <mat-card-header>
    <mat-card-title>Hier wird das Ergebnis angezeigt</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Lorem, ipsum dolor sit amet consectetur.
  </mat-card-content>
</mat-card>
